.nav-bg-color{
    /* background-color: rgb(106, 128, 124); */
    background-color: rgb(194, 163, 129);
  }

.boba-logo {
  margin-left: 10px; 
}

.store-slogan {
  margin-top: 28px; 
  padding: 168px; 
  color: rgb(65, 65, 143);
}

.home-photo {
  padding-left: 10px;
  padding-right: 10px;
}

.page-top {
  margin-top: 180px; 
}

.nav-link {
  color:rgb(237, 237, 221);
}

.navbar-nav .nav-link.active {
  color: rgb(39, 47, 163);
}

.navbar-nav {
  --bs-nav-link-hover-color: rgb(193, 122, 193); 
}

/* profile page */
.welcome-tag {
  color: blue; 
}

#card-spacing {
  margin-left: 80px; 
}

.recommend-store-card {
  margin-top: 100px; 
}

/* store list page */
.store-list-cards, .search-card, .recommend-store-card {
  font-family: "Fantasy", "Monospace"; 
}

.card{
  margin-right: 12.5px;
  margin-left: 12.5px; 
}
